.main-chat
  .main-chat__room-names
    .main-chat__room-names__room-name
      = @group.name
      .main-chat__room-names__room-name__member
        Member:
        - @member.each do |member|
          = member
    .main-chat__room-names__edit-button
      = link_to 'Edit' ,edit_group_path(@group), class: "main-chat__room-names__edit-button__link" 
  .main-chat__message-list
    = render partial: 'message', collection: @messages
    
  .main-chat__message-form
    = form_for [@group, @message] do |f|
      .main-chat__message-form__message
        = f.text_field :body,class: 'main-chat__message-form__message__body', placeholder: "type a message"
        .main-chat__message-form__message__body__icon
          = f.label :image do
            = icon('fas', 'image')
            = f.file_field :image, class: 'main-chat__message-form__message__hidden'
        = f.submit 'Send', class: 'main-chat__message-form__button'
